<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Biryani&family=Caveat:wght@600&family=EB+Garamond&family=Hind&family=Merriweather&family=Montserrat:wght@100;400;900&family=Nanum+Gothic+Coding&family=Sacramento&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1>Weather Forecast App</h1>
    </div>
</body>

</html>